<div class="footer" style="width: 100%;">
    <div style="
    text-align: center;
    color: white;
    padding-top: 10px;">

      <h3>Social</h3>
        
        <a href="mailto:abenedi4@uncc.edu" target="_blank" matTooltip="Send me an email!"
        aria-label="Send an email">
            <span>
                <span class="material-icons">
                    email
                </span>
                &nbsp;
                <span style="font-weight: lighter; color:white">Email</span>
                
            </span>
        </a>    
        
        <a href="https://github.com/abenedi4" target="_blank" matTooltip="Check out my Github page!"
        aria-label="Link to Github">
            <span>
                <span class="material-icons" style="padding-left: 20px;">
                    code
                </span>
            
                &nbsp;
                <span style="font-weight: lighter; color:white">Github</span>
            </span>
        </a>
        
        <a href="https://www.linkedin.com/in/abenedi4/" target="_blank" matTooltip="Connect with me on LinkedIn!"
        aria-label="Go to LinkedIn Page">
            <span>
                <span class="material-icons" style="padding-left: 20px;">
                    person
                </span>
                
                &nbsp;
                <span style="font-weight: lighter; color:white">LinkedIn</span>
            </span>
        </a>
        
        
    </div>
 
  
</div>