<div class="footer" style="width: 100%;">
    <div style="
    text-align: center;
    color: white;
    padding-top: 20px;">

        <h3>Social</h3>
        <div>
            <a href="mailto:abenedi4@uncc.edu" target="_blank" matTooltip="Send me an email!" matTooltipPosition="above"
            aria-label="Send an email">
                <span>
                    <span class="material-icons">
                        email
                    </span>
                    &nbsp;
                    <span style="font-weight: lighter; color:white">Email</span>
                    
                </span>
            </a>    
            
            <a href="https://github.com/abenedi4" target="_blank" matTooltip="Check out my Github page!" matTooltipPosition="above"
            aria-label="Link to Github">
                <span>
                    <span class="material-icons" style="padding-left: 20px;">
                        code
                    </span>
                
                    &nbsp;
                    <span style="font-weight: lighter; color:white">Github</span>
                </span>
            </a>
            
            <a href="https://www.linkedin.com/in/abenedi4/" target="_blank" matTooltip="Connect with me on LinkedIn!" matTooltipPosition="above"
            aria-label="Go to LinkedIn Page">
                <span>
                    <span class="material-icons" style="padding-left: 20px;">
                        person
                    </span>
                    
                    &nbsp;
                    <span style="font-weight: lighter; color:white">LinkedIn</span>
                </span>
            </a>
        </div>
        
    </div>
 
  
</div>
<div class="footer2" style="width: 100%;">
    <div style="
    text-align: center;
    color: rgb(209, 209, 209);
    padding-top: 10px;">

      <span>Made with Angular 11.0.7 and Bootstrap</span><br>
      <span style="font-size: 8pt">Updated Jan. 2021</span>
        
        
    </div>
 
  
</div>