<div class="footer" style="width: 100%;">
    <div style="
    text-align: center;
    color: white;
    padding-top: 10px;">

      <h3>Social</h3>
        
        <a href="mailto:abenedi4@uncc.edu" target="_blank" matTooltip="Send me an email!"
        aria-label="Send an email">
        <span class="material-icons">
            email
        </span>
        </a>
        <span>
             - 
            <span style="font-weight: lighter;">Email</span>
        </span>
        <span>
            <a href="https://github.com/abenedi4" target="_blank" matTooltip="Check out my Github page!"
            aria-label="Link to Github">
                <span class="material-icons" style="padding-left: 20px;">
                    code
                </span>
            </a>
            - 
            <span style="font-weight: lighter;">Github</span>
        </span>

        <span>
            <a href="https://www.linkedin.com/in/abenedi4/" target="_blank" matTooltip="Connect with me on LinkedIn!"
            aria-label="Go to LinkedIn Page">
                <span class="material-icons" style="padding-left: 20px;">
                person
            </span>
            </a>
            - 
            <span style="font-weight: lighter;">LinkedIn</span>
        </span>
    </div>
 
  
</div>