<div class="container first" style="margin-bottom: 80px;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style="margin-top: 50px;">
            <h1>It's nice to meet you!</h1>
            <mat-divider style="margin: 30px 0"></mat-divider>
            <p>I am an Early Entry Master's student 
                studying computer science at the University of North Carolina at Charlotte with a 
                concentration in Artificial Intelligence and Game Design. During my time as an undergraduate, I have had the pleasure of 
                being a teaching assistant for the Introductory Java Programming and Software Engineering courses 
                under Dr. Mohsen Dorodchi. I have also been involved in several research projects focused on the areas of 
                computing education. One such project is a NSF-funded research-practice partnership studying and promoting STEM education  
                in K-12 public schools. 
                <br><br>
                In my free time, I enjoy anything creative! My hobbies include digital art and graphic design, playing the piano and ukulele, 
                cooking, baking, and video games. I also love learning new languages and about different cultures! 
                My on-campus involvement includes holding officer positions as Graphic Designer for both the UNCC E-Sports and Korean Culture clubs.
                <br><br>
                
            </p>
            <!-- <div style="text-align: center;">
                <p style="text-align: center;">If you would like to learn more about my projects and research, click below.</p>
                <br><button mat-raised-button 
                    style="font-size: 18pt; 
                    font-weight: lighter; 
                    padding: 8px 10px;
                    "
                    routerLink="/projects"
                    routerLinkActive="active">
                        <span class="material-icons myblue" 
                        style="font-size: xx-large;
                        padding-right: 8px;">
                            arrow_back
                            </span>
                        <span style="padding-right: 10px;">Projects</span> 
                        
                    </button>
                </div> -->

        </div>

        <div class="col-2"></div>
    </div>
</div>