h1{
    text-align: center; 
    font-weight: bolder;
    letter-spacing: 1.5px;
    color:rgb(58, 58, 58);
}



p{
    text-align: justify;
    font-size: 14pt;
    font-weight:lighter;
}

div.overflow{
    overflow-x: hidden;
}