<div class="container"  style="margin-bottom: 50px;">
    <div class="first row">
    
        <div class="col" style="text-align: center;">

            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Projects"> 
                    
                    <mat-card>
                        <mat-card-title>Project 1</mat-card-title>
                        <mat-card-content>
                            <div>
                            Description
                            </div>
                            <div>
                                <a href="https://github.com/abenedi4" target="_blank" matTooltip="Project Code"
                                aria-label="Link to Code">
                                    <span class="material-icons" style="padding-top: 20px;">
                                        code
                                    </span>
                                </a>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <mat-card>
                        <mat-card-title>Project 2</mat-card-title>
                        <mat-card-content>
                            <div>
                            Description
                            </div>
                            <div>
                                <a href="https://github.com/abenedi4" target="_blank" matTooltip="Project Code"
                                aria-label="Link to Code">
                                    <span class="material-icons" style="padding-top: 20px;">
                                        code
                                    </span>
                                </a>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <mat-card>
                        <mat-card-title>Project 3</mat-card-title>
                        <mat-card-content>
                            <div>
                            Description
                            </div>
                            <div>
                                <a href="https://github.com/abenedi4" target="_blank" matTooltip="Project Code"
                                aria-label="Link to Code">
                                    <span class="material-icons" style="padding-top: 20px;">
                                        code
                                    </span>
                                </a>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-title>Project 4</mat-card-title>
                        <mat-card-content>
                            <div>
                            Description
                            </div>
                            <div>
                                <a href="https://github.com/abenedi4" target="_blank" matTooltip="Project Code"
                                aria-label="Link to Code">
                                    <span class="material-icons" style="padding-top: 20px;">
                                        code
                                    </span>
                                </a>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-title>Project 5</mat-card-title>
                        <mat-card-content>
                            <div>
                            Description
                            </div>
                            <div>
                                <a href="https://github.com/abenedi4" target="_blank" matTooltip="Project Code"
                                aria-label="Link to Code">
                                    <span class="material-icons" style="padding-top: 20px;">
                                        code
                                    </span>
                                </a>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Publications"> 
                    
                    <mat-card>
                        <mat-card-title>Publication 1</mat-card-title>
                        <mat-card-content>
                            <div>
                            Description
                            </div>
                            <div>
                                <a href="https://github.com/abenedi4" target="_blank" matTooltip="Read More"
                                aria-label="Link to Code">
                                    <span class="material-icons" style="padding-top: 20px;">
                                        read_more
                                    </span>
                                </a>
                            </div>
                        </mat-card-content>
                    </mat-card>
                
                
                
                </mat-tab>
              </mat-tab-group>
              
        </div>

    </div>
</div>