<div class="container">
<div class="row">
    <div class="col-1"></div>
    <div class="partext col-6">
        <div>
            <h2>Hi! I'm <span class="emphasize">ALEXANDRIA BENEDICT</span>.
            </h2>
            
        </div>
        <mat-divider style="width: 90%; padding-bottom: 20px;"></mat-divider>
        <div>
            <div>Aspiring software developer and Computer Science student at 
            the <span style="font-weight:lighter;">University of North Carolina at Charlotte</span>.
            </div>

            <div style="padding-top: 60px;">
                <button mat-raised-button 
                style="font-size: 18pt; 
                font-weight: lighter; 
                padding: 8px 10px;
                "
                routerLink="/aboutme"
                routerLinkActive="active">
                
                    <span style="padding-left: 10px;">About Me</span> 
                    <span class="material-icons myblue" 
                style="font-size: xx-large;
                padding-left: 8px;">
                    arrow_forward
                    </span>
                </button>
            </div>
            
        </div>
        
        
    </div>
    
    <div class="col-sm-4 par" style="padding-left: 100px;">
        <!-- <div class="col"> -->
            <span><img class="profile" src="/assets/me.PNG"></span>
        <!-- </div> -->
        
    </div>
    <div class="col-1"></div>
</div>

<div class="row" style="padding-top: 250px;">
    
    <div class="column" style="text-align: center; margin-bottom: 50px;">
        <h3>Social</h3>
        
        <a href="mailto:abenedi4@uncc.edu" target="_blank" matTooltip="Send me an email!"
        aria-label="Send an email">
        <span class="material-icons myblue">
            email
        </span>
        </a>
        <span>
             - 
            <span style="font-weight: lighter;">Email</span>
        </span>
        <span>
            <a href="https://github.com/abenedi4" target="_blank" matTooltip="Check out my Github page!"
            aria-label="Link to Github">
                <span class="material-icons myblue" style="padding-left: 20px;">
                    code
                </span>
            </a>
            - 
            <span style="font-weight: lighter;">Github</span>
        </span>

        <span>
            <a href="https://www.linkedin.com/in/abenedi4/" target="_blank" matTooltip="Connect with me on LinkedIn!"
            aria-label="Go to LinkedIn Page">
                <span class="material-icons myblue" style="padding-left: 20px;">
                person
            </span>
            </a>
            - 
            <span style="font-weight: lighter;">LinkedIn</span>
        </span>
    </div>
</div>
</div>