h1 {
    color: red;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 75px;
    /* font-style: oblique; */
    text-align: center;
}

.pagenotfound {
    padding-top: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
    
}

