<div class="first">

</div>
<div>

    <mat-card>
        <mat-card-title>Education</mat-card-title>
        <span style="width: inherit">
            <mat-divider></mat-divider>
        </span>
            <mat-card-content>
                <div class="pad">
                    <ul class="none">
                        <li>
                            <div style="font-weight: bolder;">University of North Carolina at Charlotte - May, 2022
                            </div>
                            <em>Master of Science, Computer Science</em>
                            <br>
                            GPA: 4.0
                            
                        </li>

                        <li>
                            <div style="font-weight: bolder;">University of North Carolina at Charlotte - May, 2021
                            </div>
                            <em>Bachelor of Science, Computer Science</em>
                            <br>
                                GPA: 3.9
                            <br>
                            <br><b>Honors</b> 
                            <div class="listed">Recipient of Women in Computing Scholarship, Duke Energy Scholarship 2018-2020,  
                            The Hartford Technology Scholarship, Chancellor’s List Fall 2018 – Spring 2020</div>
                        </li>
                                
                    </ul>
                </div>
            </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Technical Skills</mat-card-title>
        <span style="width: inherit">
            <mat-divider></mat-divider>
        </span>
        <mat-card-content>
            <div class="listed pad">
                <mat-chip-list aria-label="Technical Skills">
                    <mat-chip>Java</mat-chip>
                    <mat-chip>Mobile Application Development</mat-chip>
                    <mat-chip>Android</mat-chip>
                    <mat-chip>Data Structures</mat-chip>
                    <mat-chip>Artificial Intelligence</mat-chip>
                    <mat-chip>Python</mat-chip>
                    <mat-chip>Natural Language Processing</mat-chip>
                    <mat-chip>C#</mat-chip>
                    <mat-chip>Unity</mat-chip>
                    <mat-chip>JavaScript</mat-chip>
                    <mat-chip>Vue</mat-chip>
                    <mat-chip>Angular</mat-chip>
                    <mat-chip>HTML</mat-chip>
                    <mat-chip>CSS</mat-chip>
                    <mat-chip>Agile Methodology</mat-chip>
                    <mat-chip>Git</mat-chip>
                    <mat-chip>Microsoft Word</mat-chip>
                    <mat-chip>Microsoft Excel</mat-chip>
                </mat-chip-list>
            </div>
            
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Work Experience</mat-card-title>
        <span style="width: inherit">
            <mat-divider></mat-divider>
        </span>
            <mat-card-content>
                <div class="pad">
                    <ul class="none">
                        <li>
                            <div style="font-weight: bolder;">University of North Carolina at Charlotte - (May 2020 - Present)
                            </div>
                            <em>Undergraduate Research Assistant</em>
                            <br>
                            <div class="listed">
                            • Work on a web application in Vue to assist students in the planning of their college degree path and estimate
                            available finances and loans based on their total planned credit hours.<br>
                            • Complete weekly sprints with a development team and stakeholder to deliver front-end updates and organize
                            tasks for application changes.</div>
                        </li>

                        <li>
                            <br>
                            <div style="font-weight: bolder;">University of North Carolina at Charlotte - (Aug. 2020 - Dec. 2020)
                            </div>
                            <em>Preceptor</em>
                            <br><div class="listed">
                            • Assisted in teaching up to 80 students in a Software Engineering course involved with common software
                            development practices, Agile methodology, and requirements gathering.<br>
                            • Created and analyzed weekly student reflections to track student progression through the course.
                        </div>
                        </li>

                        <li>
                            <br>
                            <div style="font-weight: bolder;">University of North Carolina at Charlotte - (Jan. 2018 - Jul. 2020)
                            </div>
                            <em>Undergraduate Teaching Assistant</em>
                            <br><div class="listed">
                                • Assisted in teaching up to 120 undergraduate students in an introductory Java programming course.<br>
                                • Instructed 40 students in weekly lab sessions and regularly guided students through coding practices.
                                
                        </div>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
    </mat-card>
    <div id="wrapper">
    <button mat-raised-button routerLink="/projects" routerLinkActive="active">Go To My Projects</button>
    </div>
</div>

