.profile{
    
    /* border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-bottom-width: 30px; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
    box-shadow: 0 8px 10px rgb(194, 194, 194);
    width: 325px;
    /* border-style: solid;
    border-width: 10px;
    border-bottom-width: 30px;
    border-color: white; */
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    
}
h2{
    font-size: xx-large;
}
.par{
    padding-top: 200px;
}

.partext {
    padding-top: 200px;
    text-align: left;
    font-size: x-large;
    color: rgb(46, 46, 46);
}

.emphasize {
    font-size: smaller;
    color: rgb(67, 146, 226);
    font-weight: bold;
}

h3 {
    font-weight: lighter;
    font-size: large;
}

