<div class="container">
<div class="row">
    <div class="col-1"></div>
    <div class="partext col-6">
        <div>
            <h2>Hi! I'm <span class="emphasize">ALEXANDRIA BENEDICT</span>.
            </h2>
            
        </div>
        <mat-divider style="width: 90%; padding-bottom: 20px;"></mat-divider>
        <div>
            <div>Aspiring software developer and computer science student at 
            the <span style="font-weight:lighter;">University of North Carolina at Charlotte</span>.
            </div>

            <div style="padding-top: 60px;">
                <button mat-raised-button 
                style="font-size: 18pt; 
                font-weight: lighter; 
                padding: 8px 10px;
                "
                routerLink="/aboutme"
                routerLinkActive="active">
                
                    <span style="padding-left: 10px;">About Me</span> 
                    <span class="material-icons myblue" 
                style="font-size: xx-large;
                padding-left: 8px;">
                    arrow_forward
                    </span>
                </button>
            </div>
            
        </div>
        
        
    </div>
    
    <div class="col-sm-4 par" style="padding-left: 100px; margin-bottom: 50px;">
        <!-- <div class="col"> -->
            <span><img class="profile" src="/assets/me.PNG"></span>
        <!-- </div> -->
        
    </div>
    <div class="col-1"></div>
</div>


</div>